##### Cours : How To Count Data In A DataFrame - Pandas For Machine Learning 5
##### Lien : https://www.youtube.com/watch?v=uOmhJDRarjQ



##### Date : 27-09-22
***

In [2]:
import pandas as pd
import numpy as np

In [3]:
# import csv file
my_df = pd.read_csv('data/dog_data.csv', sep='\t')
my_df

                  Breed        Color            DogName  OwnerZip
0              COCKAPOO        BROWN            CHARLEY     15236
1          GER SHEPHERD  BLACK/BROWN             TACODA     15238
2         BELG MALINOIS      BRINDLE               EICH     15238
3                 MIXED  BLACK/BROWN              ARROW     15104
4   AM PIT BULL TERRIER  WHITE/BROWN             OAKLEY     15139
5      SCOTTISH TERRIER        BLACK             BAILEY     15129
6     YORKSHIRE TERRIER    BLACK/TAN  MIMI PEARL FOSTER     15090
7         DACHSHUND MIX  WHITE/BROWN              LEROI     15101
8     SHETLAND SHEEPDOG  WHITE/BROWN         ZOE VITSAS     15238
9    LABRADOR RETRIEVER       YELLOW              TAFFY     15228
10         BICHON FRISE        WHITE               DUDE     15238
11       LHASA APSO MIX  WHITE/BROWN            CHICKIE     15238
12     AM PITT BULL MIX        BROWN               KING     15235
13     AM PITT BULL MIX        WHITE              EMILY     15108
14     BRITTANY SPANIEL  WHITE/BROWN              ELLIE     15228
15                MIXED        WHITE              RUSTY     15120
16          TERRIER MIX      SPOTTED              ANNIE     15239
17       COCKER SPANIEL       BLONDE             JUILET     15214
18       COCKER SPANIEL        BLACK              ROMEO     15214

In [5]:
# Count Distinct Values : Descending
my_df['Color'].value_counts().sort_values(ascending=False)

WHITE/BROWN    5
WHITE          3
BROWN          2
BLACK/BROWN    2
BLACK          2
BRINDLE        1
BLACK/TAN      1
YELLOW         1
SPOTTED        1
BLONDE         1
Name: Color, dtype: int64

In [6]:
# Count Distinct Values : Ascending
my_df['Color'].value_counts().sort_values(ascending=True)

BRINDLE        1
BLACK/TAN      1
YELLOW         1
SPOTTED        1
BLONDE         1
BROWN          2
BLACK/BROWN    2
BLACK          2
WHITE          3
WHITE/BROWN    5
Name: Color, dtype: int64

In [8]:
# Dog Names - without Nan
my_df['DogName'].value_counts(dropna=False)

CHARLEY              1
DUDE                 1
JUILET               1
ANNIE                1
RUSTY                1
ELLIE                1
EMILY                1
KING                 1
CHICKIE              1
TAFFY                1
TACODA               1
ZOE VITSAS           1
LEROI                1
MIMI PEARL FOSTER    1
BAILEY               1
OAKLEY               1
ARROW                1
EICH                 1
ROMEO                1
Name: DogName, dtype: int64

In [9]:
# Dog Names - with Nan
my_df['DogName'].value_counts(dropna=True)

CHARLEY              1
DUDE                 1
JUILET               1
ANNIE                1
RUSTY                1
ELLIE                1
EMILY                1
KING                 1
CHICKIE              1
TAFFY                1
TACODA               1
ZOE VITSAS           1
LEROI                1
MIMI PEARL FOSTER    1
BAILEY               1
OAKLEY               1
ARROW                1
EICH                 1
ROMEO                1
Name: DogName, dtype: int64

In [12]:
# Get relative frequency - Percentage
my_df['Color'].value_counts(normalize=True)

WHITE/BROWN    0.263158
WHITE          0.157895
BROWN          0.105263
BLACK/BROWN    0.105263
BLACK          0.105263
BRINDLE        0.052632
BLACK/TAN      0.052632
YELLOW         0.052632
SPOTTED        0.052632
BLONDE         0.052632
Name: Color, dtype: float64

In [15]:
# Get specific item count
my_df['Color'].value_counts()['WHITE']

3

In [16]:
# Count unique values - Size
my_df.groupby('Color').size()

Color
BLACK          2
BLACK/BROWN    2
BLACK/TAN      1
BLONDE         1
BRINDLE        1
BROWN          2
SPOTTED        1
WHITE          3
WHITE/BROWN    5
YELLOW         1
dtype: int64

In [17]:
# Count unique values - Count
my_df.groupby('Color').count()

             Breed  DogName  OwnerZip
Color
BLACK            2        2         2
BLACK/BROWN      2        2         2
BLACK/TAN        1        1         1
BLONDE           1        1         1
BRINDLE          1        1         1
BROWN            2        2         2
SPOTTED          1        1         1
WHITE            3        3         3
WHITE/BROWN      5        5         5
YELLOW           1        1         1

In [18]:
# Get a count of all columns across all columns
my_df.apply(pd.value_counts)

                     Breed  Color  DogName  OwnerZip
15090                  NaN    NaN      NaN       1.0
15101                  NaN    NaN      NaN       1.0
15104                  NaN    NaN      NaN       1.0
15108                  NaN    NaN      NaN       1.0
15120                  NaN    NaN      NaN       1.0
15129                  NaN    NaN      NaN       1.0
15139                  NaN    NaN      NaN       1.0
15214                  NaN    NaN      NaN       2.0
15228                  NaN    NaN      NaN       2.0
15235                  NaN    NaN      NaN       1.0
15236                  NaN    NaN      NaN       1.0
15238                  NaN    NaN      NaN       5.0
15239                  NaN    NaN      NaN       1.0
AM PIT BULL TERRIER    1.0    NaN      NaN       NaN
AM PITT BULL MIX       2.0    NaN      NaN       NaN
ANNIE                  NaN    NaN      1.0       NaN
ARROW                  NaN    NaN      1.0       NaN
BAILEY                 NaN    NaN      1.0       NaN
BELG MALINOIS          1.0    NaN      NaN       NaN
BICHON FRISE           1.0    NaN      NaN       NaN
BLACK                  NaN    2.0      NaN       NaN
BLACK/BROWN            NaN    2.0      NaN       NaN
BLACK/TAN              NaN    1.0      NaN       NaN
BLONDE                 NaN    1.0      NaN       NaN
BRINDLE                NaN    1.0      NaN       NaN
BRITTANY SPANIEL       1.0    NaN      NaN       NaN
BROWN                  NaN    2.0      NaN       NaN
CHARLEY                NaN    NaN      1.0       NaN
CHICKIE                NaN    NaN      1.0       NaN
COCKAPOO               1.0    NaN      NaN       NaN
COCKER SPANIEL         2.0    NaN      NaN       NaN
DACHSHUND MIX          1.0    NaN      NaN       NaN
DUDE                   NaN    NaN      1.0       NaN
EICH                   NaN    NaN      1.0       NaN
ELLIE                  NaN    NaN      1.0       NaN
EMILY                  NaN    NaN      1.0       NaN
GER SHEPHERD           1.0    NaN      NaN       NaN
JUILET                 NaN    NaN      1.0       NaN
KING                   NaN    NaN      1.0       NaN
LABRADOR RETRIEVER     1.0    NaN      NaN       NaN
LEROI                  NaN    NaN      1.0       NaN
LHASA APSO MIX         1.0    NaN      NaN       NaN
MIMI PEARL FOSTER      NaN    NaN      1.0       NaN
MIXED                  2.0    NaN      NaN       NaN
OAKLEY                 NaN    NaN      1.0       NaN
ROMEO                  NaN    NaN      1.0       NaN
RUSTY                  NaN    NaN      1.0       NaN
SCOTTISH TERRIER       1.0    NaN      NaN       NaN
SHETLAND SHEEPDOG      1.0    NaN      NaN       NaN
SPOTTED                NaN    1.0      NaN       NaN
TACODA                 NaN    NaN      1.0       NaN
TAFFY                  NaN    NaN      1.0       NaN
TERRIER MIX            1.0    NaN      NaN       NaN
WHITE                  NaN    3.0      NaN       NaN
WHITE/BROWN            NaN    5.0      NaN       NaN
YELLOW                 NaN    1.0      NaN       NaN
YORKSHIRE TERRIER      1.0    NaN      NaN       NaN
ZOE VITSAS             NaN    NaN      1.0       NaN