##### Cours : How To Make Conditional Selections - Pandas For Machine Learning 9
##### Lien : https://www.youtube.com/watch?v=SF4BNTOSC7s


##### Date : 24-10-2022
***

In [1]:
import pandas as pd
import numpy as np

In [2]:
# import csv file
my_df = pd.read_csv('data/dog_data.csv', sep='\t')

In [3]:
my_df.head()

                 Breed        Color  DogName  OwnerZip
0             COCKAPOO        BROWN  CHARLEY     15236
1         GER SHEPHERD  BLACK/BROWN   TACODA     15238
2        BELG MALINOIS      BRINDLE     EICH     15238
3                MIXED  BLACK/BROWN    ARROW     15104
4  AM PIT BULL TERRIER  WHITE/BROWN   OAKLEY     15139

In [4]:
# Conditional selection
# < > = <= >= etc
# retourn Booleans
my_df == 'BROWN'

    Breed  Color  DogName  OwnerZip
0   False   True    False     False
1   False  False    False     False
2   False  False    False     False
3   False  False    False     False
4   False  False    False     False
5   False  False    False     False
6   False  False    False     False
7   False  False    False     False
8   False  False    False     False
9   False  False    False     False
10  False  False    False     False
11  False  False    False     False
12  False   True    False     False
13  False  False    False     False
14  False  False    False     False
15  False  False    False     False
16  False  False    False     False
17  False  False    False     False
18  False  False    False     False

In [5]:
# Returns DF with data
my_df[my_df == 'BROWN']

   Breed  Color DogName  OwnerZip
0    NaN  BROWN     NaN       NaN
1    NaN    NaN     NaN       NaN
2    NaN    NaN     NaN       NaN
3    NaN    NaN     NaN       NaN
4    NaN    NaN     NaN       NaN
5    NaN    NaN     NaN       NaN
6    NaN    NaN     NaN       NaN
7    NaN    NaN     NaN       NaN
8    NaN    NaN     NaN       NaN
9    NaN    NaN     NaN       NaN
10   NaN    NaN     NaN       NaN
11   NaN    NaN     NaN       NaN
12   NaN  BROWN     NaN       NaN
13   NaN    NaN     NaN       NaN
14   NaN    NaN     NaN       NaN
15   NaN    NaN     NaN       NaN
16   NaN    NaN     NaN       NaN
17   NaN    NaN     NaN       NaN
18   NaN    NaN     NaN       NaN

In [6]:
# Run them on a column
my_df[my_df == 'BROWN']['Color']

0     BROWN
1       NaN
2       NaN
3       NaN
4       NaN
5       NaN
6       NaN
7       NaN
8       NaN
9       NaN
10      NaN
11      NaN
12    BROWN
13      NaN
14      NaN
15      NaN
16      NaN
17      NaN
18      NaN
Name: Color, dtype: object

In [7]:
# Return multiple columns
my_df[my_df == 'BROWN'][['Color', 'Breed']]

    Color Breed
0   BROWN   NaN
1     NaN   NaN
2     NaN   NaN
3     NaN   NaN
4     NaN   NaN
5     NaN   NaN
6     NaN   NaN
7     NaN   NaN
8     NaN   NaN
9     NaN   NaN
10    NaN   NaN
11    NaN   NaN
12  BROWN   NaN
13    NaN   NaN
14    NaN   NaN
15    NaN   NaN
16    NaN   NaN
17    NaN   NaN
18    NaN   NaN